@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #fff;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
}

.btn {
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #29d9d5;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover {
    background: #fff;
    color: #000;
}

/* Media Queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .contact form .inputBox input {
        width: 100%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}